<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30100">
        <setting id="iptv.channels_uri" visible="false" default="plugin://plugin.video.orange.fr/iptv/channels" />
        <setting id="iptv.epg_uri" visible="false" default="plugin://plugin.video.orange.fr/iptv/epg" />
        <setting id="iptv.enabled" label="30101" help="30102" type="bool" default="false" />
        <setting visible="!System.HasAddon(service.iptv.manager)" enable="eq(-1,true)" label="30103" help="30104" type="action" action="InstallAddon(service.iptv.manager)" option="close" />
        <setting visible="System.HasAddon(service.iptv.manager)" enable="eq(-2,true)" label="30105" help="30106" type="action" action="Addon.OpenSettings(service.iptv.manager)" option="close" subsetting="true" />
        <setting type="sep"/>
        <setting id="basic.enabled" label="30111" help="30112" type="bool" default="false" />
    </category>

    <category label="30200">
		<setting id="provider.country" label="30201" type="select" values="France" default="France"/>
        <setting id="provider.name" visible="eq(-1,France)" label="30203" type="select" values="Orange|Orange Caraïbe|Orange Réunion|SFR" default="Orange"/>
    </category>
</settings>
